<page-header id="'view-top'" title="'Application templates list'" breadcrumbs="['Templates']"> </page-header>

<div class="row mb-5" ng-if="state.selectedTemplate">
  <!-- stack-form -->
  <stack-from-template-form
    ng-if="state.selectedTemplate.Type === 2 || state.selectedTemplate.Type === 3"
    template="state.selectedTemplate"
    form-values="formValues"
    state="state"
    create-template="createTemplate"
    unselect-template="unselectTemplate"
  >
  </stack-from-template-form>
  <!-- !stack-form -->
  <!-- container-form -->
  <container-from-template-form
    ng-if="state.selectedTemplate.Type === 1"
    template="state.selectedTemplate"
    create-template="createTemplate"
    unselect-template="unselectTemplate"
    allow-bind-mounts="endpoint.SecuritySettings.allowBindMountsForRegularUsers"
  >
  </container-from-template-form>
  <!-- container-form -->
</div>

<app-templates-list
  storage-key="'docker-app-templates'"
  templates="templates"
  on-select="(selectTemplate)"
  selected-id="state.selectedTemplate.Id"
  disabled-types="disabledTypes"
></app-templates-list>
