<page-header id="'view-top'" title="'Application templates list'" breadcrumbs="['Templates']"> </page-header>

<div class="row mb-5" ng-if="state.selectedTemplate">
  <stack-from-template-form-widget ng-if="state.selectedTemplate.Type === 2 || state.selectedTemplate.Type === 3" template="state.selectedTemplate" unselect="unselectTemplate">
  </stack-from-template-form-widget>

  <container-from-app-template-form-widget ng-if="state.selectedTemplate.Type === 1" template="state.selectedTemplate" unselect="unselectTemplate">
  </container-from-app-template-form-widget>
</div>

<app-templates-list
  storage-key="'docker-app-templates'"
  templates="templates"
  on-select="(selectTemplate)"
  selected-id="state.selectedTemplate.Id"
  disabled-types="disabledTypes"
></app-templates-list>
